---
requires:
  html:
  - dsi:api
  - dsi:button
---

%template#dsi-word
	#root{unresolved:true}
		#worddiv
		
		#speaker
			%h1 Speaking
			%p
				It is your turn to speak.  Try to get your team to guess the
				words without saying any of the banned words.  When a team member
				says the word at the top of your card you can click it to claim
				your points.  If you accidentally say a banned word you can click
				it to get a new word.
				
				If you ever don't know what one of the words is just click the
				"Unknown Word" button.  Don't worry, you won't lose any points.
			%dsi-button#start Start Round
		
		#judging
			%h1 Judging
			%p
				It is your turn to make sure the speaker is following the rules.
			%p
				Listen as <span class="speaker"></span> tries to describe the words to
				their team.  If they say one of the banned words tell them and click the
				appropriate button.
	
	!= inline_css 'style.css', always: true

!= inline_js 'script.js'
