@import 'common.css.scss';

:host::shadow > #root {
	padding: 0 0.4em;
	
	p,
	h1,h2,h3,h4,h5,h6,
	dsi-button {
		display: block;
		margin: 0.4em;
	}
	
	.button-row {
		display: flex;
		flex-flow: row;
		
		>* {
			flex: 1;
			margin-top: 0;
			margin-bottom: 0;
		}
		
		>*:not(:first-child) {
			margin-left: 0;
		}
	}
	
	>#speaker, >#judging {
		@include fit-parent;
		transform: translateY(100%);
		transition: transform 0.8s;
	}
	&:not(.word).speaker       > #speaker { transform: translateY(0) }
	&:not(.word):not(.speaker) > #judging { transform: translateY(0) }
	
	>#worddiv {
		@include fit-parent;
		
		>* {
			@include fit-parent;
			overflow: auto;
			animation: word-enter 0.6s, block-clicks 1s;
			
			pointer-events: none;
			&.active {
				pointer-events: auto;
			}
			
			&.done {
				transform: translateX(-100%);
				transition: transform 0.6s;
			}
		}
		
		@keyframes word-enter {
			from { transform: translateX(100%) }
			to   { transform: translateX(0)    }
		}
	}
}
