%template#dsi-logo
	%svg#logo{viewBox:'0 0 201.97754 160.474'}
		%path{d:'m202 66.4c-0.279 39-22.9 56.1-56 62.7-4.87 26.6 6.59 31.4 6.59 31.4s-28.9-2.77-36.3-28c-4.98 0.225-10.1 0.324-15.3 0.324-55.8 0-101-9.49-101-66.4s45.2-66.4 101-66.4c55.8-0.001 101 13.4 101 66.4zm-102-59c-32.3 0-58.5 26.2-58.5 58.5s26.2 58.5 58.5 58.5 58.5-26.2 58.5-58.5c-0.001-32.3-26.2-58.5-58.5-58.5m30.3 95.6c-8.24 6.73-18.8 10.8-30.2 10.8-26.4 0-47.9-21.4-47.9-47.9 0-11.5 4.03-22 10.8-30.2l67.3 67.3zm-60.3-74.4c8.24-6.73 18.8-10.8 30.2-10.8 26.4 0 47.9 21.4 47.9 47.9 0 11.5-4.03 22-10.8 30.2l-67-67.5z'}
	!= inline_css 'style.css', always: true

!= inline_js 'script.js'
