---
requires:
  html:
  - dsi:api
  - dsi:button
  js:
  - https://cdn.rawgit.com/educastellano/qr.js/d83d1b29def01612727fb0ea3dec424571931fc6/qr.js
  - https://cdn.rawgit.com/educastellano/qr-code/v0.1.2/src/qr-code.js
---
%template#dsi-start-game
	#root
		%p Once everyone has joined click the button below to start playing.
		%dsi-button#start Start!
		
		%p Your friends can join by scanning this qr code!
		%qr-code#qr
	
	!= inline_css 'style.css', always: true

!= inline_js 'script.js'
