@import 'common.css.scss';

:host {
	position: relative;
	padding: 1em;
	
	overflow: hidden;
	text-align: center;
}

.ripple {
	position: absolute;
	width: 10em;
	height: 10em;
	border-radius: 10em;
	background: currentColor;
	
	pointer-events: none;
}
