= import_dsi :api
= import_dsi :button
= import_dsi :'form-oneline'

%template#dsi-join-team
	#root
		%h2 Join Team
		%ul#teams
		%h2 Create Team
		%dsi-form-oneline#teamname{placeholder:'Team Name'} Create
	
	!= inline_css 'style.css', always: true

!= inline_js 'dsi-join-team.js'
