@import 'common.css.scss';

ul {
	@extend .chrome;
}

:host::shadow>* {
	padding: 0 1em;
}

#teams {
	@extend .chrome;
	
	>li {
		display: block;
		margin: 1em;
	}
	
	&:empty::after {
		content: 'No teams yet!  Create the first one below.';
	}
}
