---
requires:
  html:
  - dsi:api
  - dsi:word
  - dsi:timer
---
%template#dsi-round
	#root{unresolved:true}
		%dsi-timer{center: true, down:true}
		
		#rest
			#notguessing
				%dsi-word.gid
			
			#guessing
				%h1 Guessing
				%p
					Try to guess the word <span class="speaker"></span> is describing.  Shout out
					your answers until you find the right one.
		
	!= inline_css 'style.css', always: true

!= inline_js 'script.js'
