@import 'common.css.scss';

:host {
	h1,h2,h3,h4,h5,h6,
	button {
		display: block;
		margin: 1em;
	}
}

:host::shadow > #root {
	display: flex;
	flex-flow: column;
	height: 100%;
	width: 100%;
	
	> dsi-timer {
		animation-name: timer-enter;
		animation-duration: 0.6s;
	}
	&[unresolved] dsi-timer {
		animation-play-state: paused;
	}
	
	>#rest {
		flex: 1;
		position: relative;
		overflow: hidden;
	}
	
	>#rest >#guessing, >#rest >#notguessing {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		transform: translateY(100%);
		transition: transform 0.8s;
	}
	&:not([unresolved]):not(.guessing) > #rest > #notguessing,
	&:not([unresolved]).guessing       > #rest > #guessing {
		transform: translateY(0);
	}
	
}
@keyframes timer-enter {
	from { transform: scale(0) }
	to   { transform: scale(1) }
}
