!!! 5
%html
	%head
		%meta{:'http-equiv' => 'Content-Type', content: 'text/html; charset=utf-8'}
		%meta{name: :viewport, content: 'width=device-width, user-scalable=yes'}
		
		- @title_ = @title || current_page.data.title
		- @title_ = @title_ ? "#@title_ — " : ''
		%title #{@title_}Don't Say it!
		
		%link{rel: :icon, type:'image/svg+xml', sizes: :any,     href:a+'img/dsi-icon.svg'}
		%link{rel: :icon, type:'image/png',     sizes:'20x16',   href:a+'img/dsi-icon-small.png'}
		%link{rel: :icon, type:'image/png',     sizes:'202x160', href:a+'img/dsi-icon.png'}
		
		%script{src: 'https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.6.1/webcomponents.js'}
		%script{src: 'https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.27.1/es6-shim.min.js'}
		%link{rel: :stylesheet, href: a+'css/style.css', 'shim-shadowdom':true}
		%link{rel: :stylesheet, href: 'https://fonts.googleapis.com/css?family=Open+Sans:400,700'}
		
		!= import_required preload: true
		
		- if content_for? :head
			!= yield_content :head
	
	%body
		!= yield
