---
requires:
  html:
  - dsi:game
  js:
  - https://kevincox-cdn.appspot.com/url-1.0.4.min.js
---

:javascript
	+function(){
		var e = document.createElement("dsi-game");
		e.setAttribute("gameid", location.pathname.split("/")[2]);
		e.setAttribute("unresolved", true);
		e.style.display = "block";
		e.style.width = "100%";
		e.style.height = "100vh";
		document.body.appendChild(e);
		
		e.addEventListener("dsi-state-changed", function(e){
			var p = e.detail.game.player;
			if (!p) return;
			
			var u = url.parse(location.href);
			if (u.get) u.get.player = p.id;
			else       u.get = {player: p.id};
			history.pushState(null, document.title, url.build(u));
		});
		
		e.addEventListener("dsi-state-changed", function listener(event){
			if (event.detail.new != "anon") return;
			
			// Rejoin if player parameter set.
			var u = url.parse(location.href);
			if (u.get && u.get.player) {
				event.detail.game.rejoin(u.get.player);
			}
			
			e.removeEventListener("dsi-state-changed", listener);
		});
	}();
