---
requires:
---

%template#dsi-drawer
	#root
		#main
			%content{select: '.dsi-main'}
		#closer
		#left
			%content{select: '.dsi-left'}
		#right
			%content{select: '.dsi-right'}
	
	!= inline_css 'style.css', always: true

!= inline_js 'script.js'
