@import 'common.css.scss';

:host {
	display: block;
	width: 100%;
	height: 100%;
}

#closer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: black;
	opacity: 0;
	pointer-events: none;
}
:host(.dsi-narrow[left-open ])::shadow > #root > #closer,
:host(.dsi-narrow[right-open])::shadow > #root > #closer {
	display: block;
	opacity: 0.5;
	transition: opacity 0.4s;
	pointer-events: auto;
}

:host(.dsi-narrow[left-open ])::shadow > #root > #left,
:host(.dsi-narrow[right-open])::shadow > #root > #right {
	transform: translateX(0);
}

polyfill-next-selector{content:':host>#root>*>*'}
::content > * {
	display: block;
	height: 100%;
	margin: 0%;
	overflow: auto;
}

:host::shadow > #root {
	height: 100%;
	overflow: hidden;
}

:host(.dsi-narrow)::shadow > #root {
	position: relative;
	display: block;
	
	>#main {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	
	>#left, >#right {
		position: absolute;
		top: 0;
		bottom: 0;
		transition: transform 0.6s;
		will-change: transform;
	}
	>#left  { left:  0; transform: translateX(-100%) }
	>#right { right: 0; transform: translateX( 100%) }
}

:host(:not(.dsi-narrow))::shadow > #root {
	display: flex;
	flex-flow: row;
	
	>* {
		height: 100%;
		position: relative;
	}
	
	>#left {
		order: 0;
	}
	
	>#main {
		flex: 1;
		order: 1;
	}
	
	>#right {
		order: 2;
	}
}
