---
requires:
  html:
  - dsi:api
  - dsi:game-error
  - dsi:spinner
  - dsi:start
  - dsi:start-game
  - dsi:join-team
  - dsi:word
  - dsi:round
---
%template#dsi-game-main
	#unknownstate
		%p Error: unknown state.
	
	#error
		%dsi-game-error.gameid
	
	#loading
		%dsi-spinner.pad
	
	#anon
		%dsi-join-team.gameid
	
	#registered
		%dsi-start-game.gameid
	
	#playing
		%dsi-round.gameid
	
	#closed
		%h1 This Game Has Ended!
		%p Games time out after a period of inactivity. You can create or join another game below.
		%dsi-start
	
	#root
		!= inline_css 'style.css', always: true

!= inline_js 'script.js'
