---
requires:
  html:
  - dsi:new-button
  - dsi:join-dialog
---

%template{id:'dsi-start'}
	%dsi-new-button.e Create New Game
	%dsi-join-dialog.e
	
	!= inline_css 'style.css', always: true

!= inline_js 'script.js'
