@import 'common.css.scss';

:host {
	display: block;
	text-align: center;
}

dsi-logo {
	width: 4em;
	margin: 0.6em;
	
	animation: spin  1s cubic-bezier(0.8, 0, 0.2, 1) 0s infinite,
	           color 4s linear                       0s infinite;
	
	&::shadow #logo {
		fill: currentColor;
	}
}

@keyframes spin {
	from { transform: rotate(0turn) }
	to   { transform: rotate(1turn) }
}

@keyframes color {
	0%,   10% { color: $blue   }
	15%,  35% { color: $green  }
	40%,  60% { color: $red    }
	65%,  85% { color: $purple }
	90%, 100% { color: $blue   }
}
