$dark:   hsl(0,0,10);
$light:  hsl(0,0,96);
$blue:   hsl(205,  90, 60);
$green:  hsl( 95,  55, 53);
$orange: hsl( 31, 100, 56);
$purple: hsl(280, 100, 50);
$red:    hsl(355, 100, 56);

@mixin header {
	color:      $light;
	background: $green;
}

@mixin chrome {
	font-size: 1em;
	display: block;
	
	width: auto;
	height: auto;
	min-width: 0;
	min-height: 0;
	max-width: none;
	max-height: none;
	
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
	
	color: inherit;
	list-style: none;
	text-align: inherit;
	background: none;
	background-color: hsla(0,0%,0%,0); // Safari
	box-shadow: none;
}

.chrome {
	@include chrome;
}

@mixin fit-parent {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

@mixin page-enter {
	animation-name: page-enter;
	animation-duration: 0.6s;
}

@mixin page-enter-hold {
	animation-play-state: paused;
}

@keyframes page-enter {
	from { transform: translateY(100%) }
	to   { transform: translateY(0)    }
}

@mixin icon($char) {
	&::before {
		display: inline-block;
		font-size: 1.2em;
		font-family: Ionicons;
		content: $char;
		padding: 0.3em;
	}
	
	&::after {
		content: attr(aria-label);
		display: block;
		width: 0;
		height: 0;
		overflow: hidden;
	}
}
