@import 'common.css.scss';

@font-face{
	$r: "https://code.ionicframework.com/ionicons/2.0.1/fonts/";
	font-family: Ionicons;
	src: url($r+"ionicons.eot?v=2.0.1");
	src: url($r+"ionicons.eot?v=2.0.1#iefix")    format("embedded-opentype"),
	     url($r+"ionicons.ttf?v=2.0.1")          format("truetype"),
	     url($r+"ionicons.woff?v=2.0.1")         format("woff"),
	     url($r+"ionicons.svg?v=2.0.1#Ionicons") format("svg");
	font-weight: normal;
	font-style: normal
}

html, body {
	@include chrome;
	
	width: 100%;
	height: 100vh;
	
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	
	color: $dark;
	background: hsl(0,0,80);
}

polyfill-next-selector { content: 'dsi-button' }
html /deep/ dsi-button {
	display: block;
	margin: 0;
	border-radius: 0.2em;
	color: $dark;
	background: $blue;
	box-shadow: 0.1em 0.2em 0.4em hsla(0,0%,0%,0.4);
}
polyfill-next-selector { content: 'dsi-button.g' }
html /deep/ dsi-button.g {
	background: $green;
}
polyfill-next-selector { content: 'dsi-button.b' }
html /deep/ dsi-button.b {
	background: $red;
}
polyfill-next-selector { content: 'form:invalid dsi-button' }
html /deep/ form:invalid dsi-button {
	background: hsl(240, 10%, 70%);
}
