@import 'common.css.scss';

:host {
	@include fit-parent;
	
	pointer-events: none;
}

polyfill-next-selector{content:':host>*'}
::content > * {
	display: inline-block;
	position: absolute;
	
	pointer-events: auto;
}
