@import 'common.css.scss';

:host {
	padding: 0.2em;
	border-radius: 0.4em;
	
	color: white;
	background: hsla(0,0,0,0.4);
	box-shadow: 0 0.2em 0.4em hsla(0,0,0,0.4);
	
	transform: scale(0);
	transform-origin: center bottom;
	transition: transform 0.4s;
}

:host(:not([closed])) {
	transform: scale(1); // Forwards animation not working.
	animation: dsi-toast-in 0.6s ease-out;
	@keyframes dsi-toast-in {
		from { transform: scale(0) }
		to   { transform: scale(1) }
	}
}
