---
requires:
  html:
  - dsi:button
---

%template#dsi-form-oneline
	%form
		%input{type: :text, required: :true}
		%dsi-button.g
			%content
	
	!= inline_css 'style.css', always: true

!= inline_js 'script.js'
