@import 'common.css.scss';

:host {
	display: block;
	
	overflow: hidden;
	border-radius: 0.2em;
	
	background: hsl(0,0%,40%);
	box-shadow: 0.1em 0.2em 0.4em hsla(0,0%,0%,0.4);
}

:host([inset]) {
	box-shadow: 0.1em 0.1em 0.4em 0.1em hsla(0,0%,0%,0.6) inset;
}

form {
	@extend .chrome;
	
	display: flex;
	flex-flow: row;
	
	width: 100%; // Chromium seems to want this.
	
	text-align: center;
	
	* {
		@extend .chrome;
	}
	
	>* {
		padding: 1em;
		border-radius: 0 !important;
	}
	
	input {
		flex: 1;
		color: white;
		
		box-shadow: -0.6em 0 0.4em -0.4em hsla(0,0%,0%,0.4) inset;
	}
	dsi-button {
	}
}
