---
requires:
  html:
  - dsi:alerts
  - dsi:api
  - dsi:drawer
  - dsi:standings
  - dsi:game-main
  - dsi:dialog
  css:
  - https://fonts.googleapis.com/css?family=Bangers:400
---
%template#dsi-game
	%dsi-drawer#root{unresolved:true}
		#config.drawer.dsi-left
			%h1 Don't Say It!
			%dsi-button#change-name Set your name
		%dsi-standings#standing.drawer.gid.dsi-right{unresolved:true}
		#main.dsi-main
			#toolbar
				%button#menu{'aria-label': 'Menu'}
				%h1#title{flex: true}
				%button#stats{'aria-label': 'Standings'}
			%dsi-game-main#game.gid{unresolved:true}
	%dsi-alerts.gid
	
	!= inline_css 'style.css', always: true

!= inline_js 'script.js'
