@import 'common.css.scss';

:host {
	display: block;
	position: relative;
	
	&[unresolved] {
		visibility: hidden;
	}
}

#root {
	&[unresolved] {
		visibility: hidden;
	}
	
	.drawer {
		color: white;
		background: hsl(0,0%,60%);
	}
	&[unresolved] .drawer {
		visibility: hidden;
	}
	
	#config {
		>:not(:first-child) { border-bottom: 1px solid hsl(0,0%,40%) }
		>:not(:last-child)  { border-bottom: 1px solid hsl(0,0%,70%) }
		
		>* {
			@include chrome;
			padding: 0.4em;
		}
		
		>h1 {
			font-size: 1.2em;
			padding: 0.2em;
		}
	}
	
	#toolbar {
		@include header;
		
		display: flex;
		flex-flow: row;
		
		@media (min-width: 30em) {
			font-size: 1.4em;
		}
		
		animation-name: toolbar-enter;
		animation-duration: 0.5s;
		
		* {
			align-self: center;
			display: block;
		}
		
		h1 {
			@extend .chrome;
			flex: 1;
			text-align: center;
			font-family: 'Bangers', cursive;
			font-weight: 400;
		}
		
		button {
			@include chrome;
			padding: 0.4em;
			
			&::before {
				border: 1px solid hsla(0,0%,0%,0);
				border-radius: 0.2em;
			}
			&:hover::before {
				border: 1px solid hsla(0,0%,0%,0.2);
			}
			
			&#menu {
				@include icon('\f20d');
			}
			&#stats {
				@include icon('\f2b5');
			}
		}
	}
	
	&[unresolved] #toolbar {
		animation-play-state: paused;
	}
	
	@keyframes toolbar-enter {
		from { transform: translateY(-100%) }
		to   { transform: translateY(0) }
	}
	
	#main {
		display: flex;
		flex-flow: column;
		
		dsi-game-main {
			flex: 1;
			overflow: auto;
		}
	}
}
