@import 'common.css.scss';

:host {
	@include fit-parent;
	position: fixed;
}
:host([unresolved]) {
	display: none;
}
:host([closed]) {
	pointer-events: none;
}

:host::shadow > #fade {
	@include fit-parent;
	position: fixed;
	
	display: flex;
	justify-content: center;
	
	background: hsla(0,0%,0%,0);
	transition: background 0.4s;
}
:host(:not([closed]))::shadow > #fade {
	animation: dsi-dialog-fade-in 0.6s ease-out forwards;
	@keyframes dsi-dialog-fade-in {
		from { background: hsla(0,0%,0%,0.0) }
		to   { background: hsla(0,0%,0%,0.6) }
	}
}
:host::shadow > #fade > #dialog {
	display: inline-block;
	border-radius: 0.4em;
	
	overflow: hidden;
	
	color: $dark;
	background: darken($light, 10%);
	box-shadow: 0.2em 0.3em 1em hsl(0,0%,0%);
	
	align-self: center;
	
	transform: scale(0);
	transition: transform 0.4s;
}
:host(:not([closed]))::shadow > #fade > #dialog {
	transform: scale(1); // Forwards not working on chrome.
	animation: dsi-dialog-zoom-in 0.4s cubic-bezier(1,1.5,0.5,1.5) 0.2s both;
	@keyframes dsi-dialog-zoom-in {
		from { transform: scale(0) }
		to   { transform: scale(1) }
	}
}

polyfill-next-selector{content:':host>#fade>#dialog>*'}
::content > * {
	margin: 1em;
}

polyfill-next-selector{content:':host>#fade>#dialog>h1'}
::content > h1 {
	@include chrome;
	@include header;
	
	font-size: 1.4em;
	padding: 0.2em;
	
	text-shadow: 1px 1px hsl(0,0,0);
	box-shadow: 0 -1em 0.2em 1em black;
}
