@import 'common.css.scss';

:host {
	display: block;
	width: 100%;
	
	h1 {
		margin: 0.3em;
	}
	
	ul {
		@include chrome;
		display: flex;
		flex-flow: column;
		
		>li {
			display: block;
			border-top: 1px solid hsl(0,0%,70%);
			border-bottom: 1px solid hsl(0,0%,50%);
		}
	}
}
