"use strict";

function DontSayIt(id) {
	window.g = this;
	
	this.id = id;
	this.teams   = [];
	this.teamchanged = new signals.Signal();
	this.players = [];
	
	this._state       = "loading";
	this.statechanged = new signals.Signal();
	
	this._word       = undefined;
	this.wordchanged = new signals.Signal();
	this.worddone    = new signals.Signal();
	
	this.player  = null;
	this.speaker = null;
	this.roundchanged = new signals.Signal();
	
	this.ready = new Promise((resolve, reject) => {
		this.ws = new WebSocket(
			`${DontSayIt.API}/game/${id}`.replace("http", "ws"),
			"ca.kevincox.dontsayit.v1");
		
		this.ws.onopen = e => {
			console.log("WS Opened", e);
			
			if (this._send_buf) {
				this._send_buf.forEach(msg => this.send(msg));
				delete this._send_buf;
			}
			
			this.state = "anon";
			resolve(this);
		};
		
		this.ws.onmessage = e => {
			console.log("RECV", e);
			
			var data = JSON.parse(e.data);
			
			var k = `_ws_${data.type}`;
			if (!this[k]) console.warn("Unknown message", data);
			else          this[k](data, e);
		};
		
		this.ws.onerror = e => {
			console.error("WS Error", e);
			
			if (this.state == "loading") {
				reject(e);
			}
		}
	});
}

Object.defineProperties(DontSayIt, {
	API: {value: <%= api_url_js %>},
	_USERSECRET_KEY: {value: "dontsayit.usersecret"},
	_dsi_games: {value: {}},
	
	newGame: {
		value: function(){
			return fetch(`${this.API}/create`, {
				method: "POST",
			}).then(res => res.headers.get("DSI-ID"));
		},
		enumerable: true,
	},
	
	_usersecret: {
		get: function(){
			if (this._usersecret_value) return this._usersecret_value;
			
			var s = localStorage.getItem(this._USERSECRET_KEY);
			if (s) {
				return this._usersecret_value = JSON.parse(s);
			}
			
			if (window.crypto) {
				var ta = new Uint32Array(1);
				crypto.getRandomValues(ta);
				s = ta[0];
			} else {
				s = Math.random()*Math.pow(2,31) | 0;
			}
			
			localStorage.setItem(this._USERSECRET_KEY, JSON.stringify(s));
			return this._usersecret_value = s;
		},
	},
});

Object.defineProperties(DontSayIt.prototype, {
	state: {
		get()  { return this._state },
		set(s) {
			var o = this._state;
			
			if (s == o) return;
			
			this._state = s;
			this.statechanged.dispatch(o, s, this);
		},
	},
	
	send: {
		value(data) {
			if (this.ws.readyState == 0) { // Connecting.
				this._send_buf = this._send_buf || [];
				this._send_buf.push(data);
				return;
			}
			
			console.log("SEND", data);
			this.ws.send(JSON.stringify(data));
		},
	},
	
	rejoin: {
		value(id) {
			this.send({
				type: "rejoin",
				id: +id,
				secret: DontSayIt._usersecret,
			});
		},
	},
	
	register: {
		value(team) {
			this.send({
				type: "register",
				team: team,
				secret: DontSayIt._usersecret,
			});
		},
	},
	
	team: {
		get() { return this.player.team },
	},
	
	started: {
		get() { return !!this.speaker },
	},
	
	word: {
		get() { return this._word },
		set(w) {
			this._word = w;
			this.wordchanged.dispatch(w);
		},
	},
	
	startGame: {
		value() {
			this.send({
				type: "start",
			});
		},
	},
	
	startRound: {
		value() {
			this.send({
				type: "round_start",
			});
		},
	},
	
	roundtimeleft: {
		get() {
			if (!this.roundend) return undefined;
			var r = Math.round(Math.max(this.roundend - +new Date(), 0)/10)/100;
			return r;
		},
	},
	
	wordGuessed: {
		value(word) {
			this.send({
				type: "word_guessed",
				word: word,
			});
		},
	},
	
	wordUnknown: {
		value(word) {
			this.send({
				type: "word_unknown",
				word: word,
			});
		},
	},
	
	wordFailedBanned: {
		value(word, banned) {
			this.send({
				type:  "word_failed",
				word:   word,
				banned: banned,
			});
		},
	},
	
	wordFailedSkip: {
		value(word, banned) {
			this.send({
				type:  "word_skip",
				word:   word,
			});
		},
	},
	
	_ws_close: {
		value(data, e) {
			this.state = "closed";
		},
	},
	
	_ws_log: {
		value(data, e) {
			var k = console[data.level]? data.level : "log";
			
			console[k]("WS-LOG", data.msg, e);
		},
	},
	
	_ws_team: {
		value(data, e) {
			var t = this.teams[data.id] || new DontSayIt.Team(this, data.id);
			
			t.id    = data.id;
			t.name  = data.name;
			t.score = data.score;
			
			this.teamchanged.dispatch(t);
		},
	},
	
	_ws_player: {
		value(data, e) {
			var p = this.players[data.id] || new DontSayIt.Player(this, data.id);
			
			p.id      = data.id;
			p.team_id = data.team;
			p.name    = data.name;
			p.score   = data.score;
			
			this.teamchanged.dispatch(p.team);
		},
	},
	
	_ws_round: {
		value(data, e) {
			this.state = "playing";
			
			this.speaker = this.players[data.speaker];
			this.roundend = data.end? new Date(data.end) : undefined;
			this.roundlen = data.length;
			this.word = undefined;
			
			this.roundchanged.dispatch();
		},
	},
	
	_ws_word: {
		value(data, e) {
			this.word = new DontSayIt.Word(data.word, data.banned);
		},
	},
	
	_ws_word_done: {
		value(data, e) {
			delete data.type;
			this.worddone.dispatch(data);
		},
	},
	
	_ws_you: {
		value(data, e) {
			this.player = this.players[data.player];
			this.state = "registered";
			console.log("YOU", data, this);
		},
	},
	
	close: {
		value(){
			this.ready.then(()=>{
				this.ws.close();
				this.ws = undefined;
			});
		},
	},
});

DontSayIt.Team = function Team(game, id) {
	this.game = game;
	this.id = id;
	this.players = [];
	
	this.game.teams[this.id] = this;
}
Object.defineProperties(DontSayIt.Team.prototype, {
});

DontSayIt.Player = function Player(game, id) {
	this.game = game;
	this.id = +id;
	
	this.game.players[this.id] = this;
}
Object.defineProperties(DontSayIt.Player.prototype, {
	save: {
		value() {
			this.game.send({
				type: "player",
				id: this.id,
				name: this.name,
			});
		},
	},
	
	team_id: {
		get() {
			return this.team.id;
		},
		set(tid) {
			this.team = this.game.teams[tid];
		},
	},
	
	team: {
		get() {
			return this._team;
		},
		set(team) {
			if (team == this.team) return;
			if (this.team) {
				this.team.players.splice(this.team.players.indexOf(this), 1);
			}
			this._team = team;
			this.team.players.push(this);
		},
	},
});

DontSayIt.Word = function Word(word, banned) {
	this.word   = word;
	this.banned = banned;
}
Object.defineProperties(DontSayIt.Player.prototype, {
});

// vi:ft=javascript
