---
requires:
  html:
  - dsi:toast
---
%h1 Don't say it!

%dsi-button#b{unresolved: true} Toast!

:javascript
	b.addEventListener('click', function(e){
		document.getElementById("toast").appendChild(DSIToast.withHTML("Foo").closeIn(6));
	});

%dsi-toast-center#toast
